@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Regole per la stampa */
@media print {
  .no-print, .drawer-side, .navbar {
    display: none !important;
  }
  
  .drawer-content {
    background: white !important;
    padding: 0 !important;
  }

  main {
    padding: 0 !important;
  }

  .card {
    border: 1px solid #eee !important;
    box-shadow: none !important;
  }
}
